.eventInput {
    margin-top: 45%;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#descriptionInput {
    font-size: 1.5rem;
    text-align: center;
    width: 20rem;
    height: 1rem;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
}